.form-container {
    width: 60vh;
    padding: 5vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #dde1f2;
    justify-content: center;
}

.form-container input {
    width: 100%;
    height: 6vh;
    border: 1px solid #ccc;
    border-radius: 1vh;
    margin-bottom: 2vh;
    padding: 1vh;
}

.form-container button {
    width: 100%;
    height: 6vh;
    background-color: #4889ea;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1 rem;
}

.auth-page {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI';
    background-color: #75a3e7;
}

#app-container {
    background-color: #f1b2f4;
    height: 100vh;
    gap: 12px;
    display: flex;
}

#left-panel {
    width: 320px;
    border-right: 1px solid #ccc;
    padding: 12px;
}

#right-panel {
    flex: 1;
    padding: 12px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 70vh;
}

#chat-input-container {
    border-top: 1px solid #ccc;
    display: flex;
    gap: 8px;
    padding: 10px;
}

#message-input {
    flex: 1;
}

#chat-messages p {
    padding: 8px 12px;
    margin: 6px 0;
    border-radius: 8px;
    max-width: 80ch;
    word-wrap: break-word;
    white-space: normal;
}

.message-sent {
    align-self: flex-end;
    background-color: #9dd8ed;
}

.message-received {
    align-self: flex-start;
    background-color: #9dd8ed;
}